<h1> <%= @player.name %></h1>

<h2>Team:</h2>
<%= @player.team %>

<h2>Position:</h2>
<%= @player.position %>

<br><br>

<%= link_to "Edit" %>
<%= link_to "Delete" %>

<br><br>
<br><br>

<%= link_to "Add a Player", new_player_path(@player) %>
<%= link_to "Add a Tip" %>
