<h1>Add a tip!</h1>

<%= form_for [@game, @tip] do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <br><br>

  <%= f.label :game %>
  <%= f.collection_select :game_id, Game.all, :id, :gameweek, {:selected => @game.id}, {:disabled => true} %>

  <br><br>

  <%= f.label :player %>
  <%= f.collection_select :player_id, Player.all, :name, :name, prompt: "Select Player" %> Player not listed? <%= link_to "Add a player", new_player_path(@player) %> 

  <br><br>

  <%= f.submit %>

<% end %>
