<h1>Add a tip!</h1>

<%= form_for [@game, @tip] do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <br><br>

  <%= f.label :game %>
  <%= f.collection_select :game_id, Game.all, :id, :gameweek, {:selected => @game.id}, {:disabled => true} %>

  <br><br>

  <%= f.label :player %>
  <%= f.text_field :player_id %>

  <br><br>

  <%= f.submit %>
<% end %>
